Sensor_details.json
[
    {
        "id": "98b13d5a7684b802",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "98b13d5a7684b802",
        "name": "Sensor Proximidad",
        "topic": "sensor/proximidad",
        "qos": "2",
        "datatype": "json",
        "broker": "2249adb74cf55197",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "76307f6e632c54d4",
                "prepare-data"
            ]
        ]
    },
    {
        "id": "prepare-data",
        "type": "function",
        "z": "98b13d5a7684b802",
        "name": "Preparar datos",
        "func": "if (msg.payload && msg.payload.distancia) {\n    msg.topic = \"INSERT INTO sensor_details(sensor_id, user_id, value) VALUES($1, $2, $3)\";\n    msg.params = [1, 1, msg.payload.distancia];  // Aquí puedes modificar el valor de user_id y sensor_id según sea necesario\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "postgres"
            ]
        ]
    },
    {
        "id": "postgres",
        "type": "postgresql",
        "z": "98b13d5a7684b802",
        "name": "Guardar en PostgreSQL",
        "query": "INSERT INTO sensor_details(sensor_id, user_id, value) VALUES($1, $2, $3)\n",
        "postgreSQLConfig": "209c199c9ecea50f",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "debug"
            ]
        ]
    },
    {
        "id": "debug",
        "type": "debug",
        "z": "98b13d5a7684b802",
        "name": "Final Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "76307f6e632c54d4",
        "type": "debug",
        "z": "98b13d5a7684b802",
        "name": "MQTT Raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "2249adb74cf55197",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "209c199c9ecea50f",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "192.168.200.162",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]